body,
html { height: 100% }
body {
    font: normal 1em sans-serif;
    background: url("https://raw.github.com/ruzz311/JackTorrance/master/client/static/images/paper.jpg") fixed!important;
    background-size: cover!important;
    text-align: left!important;
}
#content .underwood-font,
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content p {
    font-family: 'Special Elite', cursive;
    letter-spacing: 0;
}
#content h1 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 1.5em;
    color: #333;
    text-shadow: 1px 1px 2px #fff;
}
#content p {
    font-size: 2em;
    margin-bottom: 1em;
}
#content { padding: 50px }