@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'UnderwoodChampionRegular';
    src: url("/fonts/underwood_champion-webfont.eot");
    src: local('☺'),url("/fonts/underwood_champion-webfont.woff") format('woff'),url("/fonts/underwood_champion-webfont.ttf") format('truetype'),url("/fonts/underwood_champion-webfont.svg#UnderwoodChampionRegular") format('svg');
}
.underwood-font,
h1,
h2,
h3,
h4,
h5,
p {
    font-family: 'UnderwoodChampionRegular',Arial,sans-serif;
    letter-spacing: 0;
}
body,
html { height: 100% }
body {
    font: normal 1em sans-serif;
    background: url("https://raw.github.com/ruzz311/JackTorrance/master/client/static/images/paper.jpg") fixed;
    text-align: left;
}
h1 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 1.5em;
    color: #333;
    text-shadow: 1px 1px 2px #fff;
}
p {
    font-size: 2em;
    margin-bottom: 1em;
}
a { color: #000a68 }
#content { padding: 50px }